      <% layout('layout') %>
      <div class="tail">
      <div class="line-bc">
        <% postList.forEach(function(post) { %>

          <% if (user.id == post.user_id) { %> 
            <div class="mycomment">
              <div class="faceicon">
                <label><%= post._madetime %></label>
                <p><span>
                    <% if (post.post_type==1) { %>
                      <img class="thumb_r" src="/images/stamp/<%= post.post_file %>"/>
                    <% } else if (post.post_type==2) { %>
                      <img class="thumb_r" src="/images/uploads/<%= post.post_file %>"/>
                    <% } else { %>
                      <%= post.post_message %>
                    <% } %>
                   </span>
                   <div class="box">
                     <img class="thumb_r" src="/images/icon/<%= post.user_icon %>"/><br>
                     <span><%= post.user_nickname %></span>
                   </div>
              </div>
            </div>
          <% } else { %>
            <div class="balloon6">      
              <div class="faceicon">
                <img class="thumb_r" src="/images/icon/<%= post.user_icon %>" />
              </div>
              <div class="chatting">
                <div class="says">
                    <% if (post.post_type==1) { %>
                      <img class="thumb_r" src="/images/stamp/<%= post.post_file %>" />
                    <%  } else if (post.post_type==2) { %>
                      <img class="thumb_r" src="/images/uploads/<%= post.post_file %>" />
                    <% } else { %>
                      <%= post.post_message %>
                    <% } %>
                </div>
              <label><%= post._madetime %></label>
              </div>                
            </div>                
          <% } %>
        <% }); %>          
    </div>
        
    <form action="" enctype="multipart/form-data">
      <div class="container line-msg">
        <div class="item_list msg">
          <% stampList.forEach(function(stamp) { %>
          <button onclick="stampMsg('<%= stamp.file %>')">
            <img class="thumb_s" src="/images/stamp/<%= stamp.file %>" />
          </button>
          <% }); %>
        </div>  
        <div class="item_list">
          <textarea id="msg" maxlength="255" rows="4"></textarea>
          <button class="msg">投稿</button>
        </div>
        <input class="msg" id="img" type="file" name="image_file" accept="image/*" ><br>
        <!-- <canvas class="msg" id="canvas"></canvas> -->
      </div>
    </form>
    </div>
<script>
  var roomId = <%= room.id %>;
  var userId = <%= user.id %>;
  var nickname = '<%= user.nickname %>';
  var icon ='<%= user.icon %>';
  var socket = io();
  const stpath = "/images/stamp/";
  const icpath = "/images/icon/";
  const uppath = "/images/uploads/";

$("#img").change(function(event){
  var send_file = event.target.files[0];
  var fileReader = new FileReader();
  var data = {};

  fileReader.readAsBinaryString(send_file);
  fileReader.onload = function(event) {
    data.file = event.target.result;
    data.name = "uploadFile";

    socket.emit('chat message', {
      'room_id': roomId,
      'id': userId,
      'nickname': nickname,
      'type': '2', 
      'msg':  '',
      'image': '',
      'icon': icon,
      'data': data
    });
    msgClear();
    return false;
  }
});
    
  socket.emit('join', {
    room_id: roomId,
    id: userId,
    name: nickname
  });

  $('form').submit(function(){
    socket.emit('chat message', {
      'room_id': roomId,
      'id': userId,
      'nickname': nickname,
      'type': '0', 
      'msg':  $('#msg').val(),
      'image': $('#img').val(),
      'icon': icon
    });
    msgClear();
    return false;
  });
    
  function stampMsg(img){
    socket.emit('chat message', {
      'room_id': roomId,
      'id': userId,
      'nickname': nickname,
      'type': '1', 
      'msg':  '',
      'image': img, 
      'icon': icon
    });
    msgClear();
    return false;
  }

  function msgClear() {
    $('#img').val('');
    $('#msg').val('');      
  }
    
  socket.on('chat message', function(post){
    console.log("chat message receive!!");

    if (userId == post.id) {
       var wrap = $('<div class="mycomment">');
       var cur = $('<div class="faceicon">');
       var msg = $('<p>');
       if (post.type==1) {
           msg.append($('<span><img width="60" height="60" src="'+ stpath + post.image+'"/></span>'));
       } else {
           msg.append('<span>'+post.msg+'</span>');
       }                
       var box = $('<div class="box">').append($('<img width="60" height="60" src="' + icpath + post.icon+'"/><br><span>'+post.nickname+'</span>'));
       
       var made=$('<label>');
       made.text(post.made+' ');
       cur.append(made);
       cur.append(msg);
       cur.append(box);
       wrap.append(cur);
       $('.line-bc').append(wrap); 
    } else {
        var wrap =$('<div class="balloon6">'); 
        var cur1 = $('<div class="faceicon">');
        cur1.append($('<img width="60" height="60" src="' + icpath + post.icon+'"/>'));
        var cur2 = $('<div class="chatting">');
        var cur2msg = $('<div class="says">');
        if (post.type==1) {
            cur2msg.append($('<img width="60" height="60" src="' + stpath + post.image+'"/>'));
        } else {
            cur2msg.append('<span>'+post.msg+'</span>');
        } 
        cur2.append(cur2msg);

        var made=$('<label>');
        made.text(' '+post.made);
        cur2.append(made);

        wrap.append(cur1).append(cur2);
        $('.line-bc').append(wrap);          
    }
    
    $('.line-bc').get(0).scrollTop = $('.line-bc').get(0).scrollHeight;
  });    
    
$('.line-bc').get(0).scrollTop = $('.line-bc').get(0).scrollHeight;
</script>


